.container {
  margin-top: 10vh;

  h2 {
    margin-bottom: 2.5vh;
  }

  h3 {
    margin-top : 2.5vh;
    margin-bottom: 3vh;
  }

  p {
    margin: 0 6vw 0 0;
  }

  Button {
    margin: 3vh 0;
  }
}